language: c
compiler:
    - clang
    - gcc
before_install:
  - pushd deps/check-0.9.8
  - ./configure
  - make
  - sudo make install
  - sudo ldconfig
  - popd
  - scons
script: CK_TIMEOUT_MULTIPLIER=3 LD_LIBRARY_PATH=`pwd` ./test_runner
